<form [formGroup]="chooseCategory">

    <div class="row">
      <div class="col-lg-2">Select Category:</div>
      <div class="col-lg-8">
        <select formControlName="categoryName" ngModel='all' class="form-select" (change)="getCoursesByCat($event)">
          <option value="all"> All</option>
          <option *ngFor="let c of categories" [value]="c.categoryName"> {{c.categoryName}}</option>
        </select>
      </div>
    </div><br>
    <!-- <button (click)="getCoursesByCat()">Show graph</button> -->
  </form>
  
  <h1>{{this.chooseCategory.value.categoryName | uppercase}}</h1>
  
  <!-- <button (click)="getGraph()">Get Graph</button> -->
  
  
    <div class="chart-wrapper">
      <ng-container *ngIf='videosize.length!=0; else unselected'>
        <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
    </ng-container>
    <ng-template #unselected>
      Select category from dropdown
    </ng-template>
    </div>
  <hr>